* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #050d21;
    padding: 0;
    height: 100vh;
    display: flex;
}

nav {
    width: 100vw;
}

.container {
    position: absolute;
    margin: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 10%;
    width: auto;
}

ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
    position: sticky;
}

li {
    list-style-type: none;
    height: 65px;
    width: 120px;
    overflow: hidden;
}

li>span {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: 0.3s linear;
}

li>span:nth-child(1) {
    color: #1abc9c;
    background-color: rgba(255, 255, 255, 0.05);
    font-size: 32px;
}

li:hover span {
    transform: translateY(-100%);
}

li>span:nth-child(2) {
    background-color: #1abc9c;
}

a {
    color: white;
    text-decoration: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

header {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

header a {
    text-decoration: none;
    color: rgb(182, 195, 255);
}